body {
    background-color: rgb(255, 255, 255);
    font-family: 'Rethink Sans', sans-serif;
    margin: 0;

}
a {
    text-decoration: none;
    color: rgb(139, 139, 139);
}
a:hover {
    text-decoration: underline 2px;
}
hr {
    width: 60%;
}






    header {
        background-color: rgb(255, 255, 255);
        width:100%;
        left: 0;
        top: 0;
        position: fixed;
        box-shadow: 1px 1px 10px rgb(196, 196, 196);
        align-items: center;
    }
    ul {
        align-items: center;
        padding: 0;
        display: flex;
        list-style: none;
    }
    .li_menu{
        flex-grow: 1;
    }
    #header_menu {
        list-style: none;
        justify-content: space-between;
        display: flex;
        padding: 0 2vw 0 2vw;
        
    }
    .ul_menu {
        flex: 1;
        text-align: center;
    }
    #phone_menu {
        padding: 0;       
    }
    #logo_menu {

        padding: 0;

    }
    #link_menu {
        
        padding: 0;
    }








    #logo {
        display:flex;
        justify-content: center;
        margin: 6vw 0 2vw 0;
        margin-left: auto;
        margin-right: auto;

    }







        main {
            margin: 0 4vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .Topic {
            scroll-margin: 10vw;
            width:  80vw;
            background-color: rgb(255, 255, 255);
            margin: 2vw 0 2vw 0;
            padding: 2vw;
            box-shadow: 1px 1px 10px rgb(196, 196, 196);
            border-radius: 1em;
            display:block;
            align-self: center;
        }
        .text {
            border-top: solid;
            padding-top: 1vw;
        }
        .sections {
            width: auto;
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
            margin: 2vw 0;
        }
        .section {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 800px ;
            height: auto;
            padding-bottom: 2vw;
            background-color: rgb(255, 255, 255);
            border: solid transparent 0px;
            border-radius: 1em;
            margin: 1vw ;

            box-shadow: 1px 1px 10px rgb(196, 196, 196);
        }
        .section:hover{
            box-shadow: 10px 20px 30px rgb(196, 196, 196)
        }
        .h1cards {
            padding-bottom: 1vw;
            border-bottom: solid ;
        }
        .h1cards, .pcards {
            margin: 2vw;
        }
        #foto1 {
            border: solid transparent 0px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        #map {
            display: flex;
        justify-content: center;
        }





        footer {
        text-align: center;
        padding: 1vw;

        }




                @keyframes hover {
                    99% {box-shadow: 10px 20px 30px rgb(196, 196, 196);}
                 }